<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace指定为接口的全类名，方法名改为sql标签的ID名-->

<mapper namespace="com.mybatis.base.mapper.SysuserMappper">
    <select id="selectUserById" resultType="com.mybatis.base.base.domain.Sysuser">
        select * from sysuser where id = #{id}
    </select>
</mapper>